<%= form_for @type do |f| %>
  <%= render "shared/errors", object: @type %>
  <div>
    <%= f.label "Select brand:" %>
    <%= f.select :brand_id, options_from_collection_for_select(@brands,"id","name",@type.id),{include_blank: "Select brand", id: "brand_id"} %>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "Save Type" %>
<% end %>
