<h1>Add Brand</h1>

<%= form_for @brand do |f| %>
  <%= render "shared/errors", object: @brand %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit "Save Brand" %>
<% end %>
