<h1>Car Brands</h1>
<%= link_to "Add Car Brand", new_brand_path %>
<%= link_to "Add Car Type", new_type_path %>
<ul>
  <% @brands.each do |brand| %>
      <li>
        <%= brand.name.to_s.capitalize %>
        <%= link_to "Edit", edit_brand_path(brand) %> <%= link_to "Delete", brand_path(brand), method: :delete %>
        <ul>
          <% brand.types.each do |type| %>
            <li>
              <%= type.name.to_s.capitalize %> <%= link_to "Edit", edit_type_path(type) %> <%= link_to "Delete", type_path(type), method: :delete %>
            </li>
          <% end %>
        </ul>
      </li>
  <% end %>
</ul>
