  <h3>New/Update Car</h3>
  <%= form_for @car do |f| %>
    <%= render "shared/errors", object: @car %>
    <div class="form-group">
      <%= f.label :brand %>
      <%= f.select(:brand_id, options_from_collection_for_select(@brands,"id","name",@car.brand_id),{include_blank: "Select brand",id: "brand_id"},class: "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label :type %>
      <%= f.select(:type_id, options_from_collection_for_select(@types,"id","name",@car.type_id),{include_blank: "Select type",id: "type_id"},class: "form-control") %>
    </div>

    <div class="form-group">
      <%= f.label "Add Photo" %>
      <%= f.file_field :photo, placeholder: "Upload Car Photo",class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :price %>
      <%= f.number_field :price, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :assembly_year %>
      <%= f.select(:assembly_year, options_for_select(@years,@car.assembly_year),{include_blank: "Select year"},class: "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label :purchase_year %>
      <%= f.select(:purchase_year, options_for_select(@years,@car.purchase_year),{include_blank: "Select year"},class: "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label :total_distance %>
      <%= f.number_field :total_distance, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :engine_volume %>
      <%= f.number_field :engine_volume, class: "form-control" %>
    </div>
    <%= f.submit "Save Car",class: "btn btn-primary" %>
  <% end %>
