<div class="col-md-9">

  <div class="thumbnail">
    <%= image_tag @car.photo.nil? ? @car.photo.url(:large) : "large_notavailable.jpg", class: "img-responsive" %>
    <div class="caption-full">
      <h4 class="pull-right">Rp <%= @car.price.to_s %></h4>
      <h4>
        <a href="#"><%= @car.brand.name %> - <%= @car.type.name %></a>
      </h4>
      <p>
        <ul>
          <li>
            Assembly Year: <%= @car.assembly_year.to_s %>
          </li>
          <li>
            First Purchase Year: <%= @car.purchase_year.to_s %>
          </li>
          <li>
            Total Distance: <%= @car.total_distance.to_s %>
          </li>
          <li>
            Engine Volume: <%= @car.engine_volume.to_s %>
          </li>
        </ul>
        <h3>Get more info:</h3>
        Contact:
        <ul>
          <li>
            Name: <%= @user.name.capitalize %>
          </li>
          <li>
            Phone: <%= @user.phone %>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
